<!DOCTYPE html>
<html lang="en">
<head>
    <link href='/css/main.css' type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="/js/main.js"></script>
    <% if (url && url === "register") { %>
        <script type="text/javascript" src="/js/registerForm.js"></script>
    <% } %>
    <% if (url && url === "login") { %>
        <script type="text/javascript" src="/js/loginForm.js"></script>
    <% } %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/socket.io/socket.io.js"></script>
</head>

<body>