<%- include('./includes/header', {user: user})%>

<% if (user) { %>
    <ul class="main-menu">
        <h4>hello <%= user.username %></h4>
        <li><a href="/logout" class="loginBtn">logout</a></li>
    </ul>
<% } else { %>
<%- include('./loginPanel') %>
<% } %>

<% if (user) { %>
    <div class="chat-window-main-wrap">
        <div class="chat-window-main-row">
            <div class="chat-messages-wrap">
                <div class="chat-message-wrap">
                    <div class="chat-message-username">
                        <span>User 1</span>
                    </div>
                    <div class="chat-message-text">
                        <p>asdassdasdasdasd</p>
                    </div>
                </div>
                <div class="chat-message-wrap">
                    <div class="chat-message-username">
                        <span>User 1</span>
                    </div>
                    <div class="chat-message-text">
                        <p>asdassdasdasdasd</p>
                    </div>
                </div>
            </div>
            <div class="chat-window-users-wrap"></div>
            <div class="keyboard-wrap">
                <textarea class="chat-main-input"></textarea>
                <div class="send-btn-wrap">
                    <button class="chat-send-btn">Send</button>
                </div>
            </div>
        </div>
    </div>
<% } else if(!user) { %>
    <div class="hello-mainpage-wrap">
        <div class="hello-text-wrap">
            <h1>Hello guset,</h1>
            <p>You must <a href="/login">login</a> or <a href="/register">register</a></p>
        </div>
    </div>
<% } %>

<%- include('./includes/footer') %>
