<%- include('./includes/header') %>
<div class="chat-window-main-wrap">
    <div class="chat-window-main-row">
        <div class="chat-messages-wrap">
            <div class="chat-message-wrap">
                <div class="chat-message-username">
                    <span>User 1</span>
                </div>
                <div class="chat-message-text">
                    <p>asdassdasdasdasd</p>
                </div>
            </div>
            <div class="chat-message-wrap">
                <div class="chat-message-username">
                    <span>User 1</span>
                </div>
                <div class="chat-message-text">
                    <p>asdassdasdasdasd</p>
                </div>
            </div>
        </div>
        <div class="chat-window-users-wrap">
            <div class="user-item-wrap">
                <div class="user-item-username">
                    Username
                </div>
            </div>
            <div class="user-item-wrap">
                <div class="user-item-username">
                    Username
                </div>
            </div>
            <div class="user-item-wrap">
                <div class="user-item-username">
                    Username
                </div>
            </div>
        </div>
        <div class="keyboard-wrap">
            <textarea></textarea>
            <div class="send-btn-wrap">
                <button>Send</button>
            </div>
        </div>
    </div>
</div>
<%- include('./includes/footer') %>
