<div class="login-form-wrap">
    <form>
        <label>Email</label>
        <input id="login-input" type="text" />
        <label>Password</label>
        <input id="password-input" type="password" />
        <button type="submit" class="login-enter-btn">Send</button>
    </form>
</div>