<div class="register-popup-wrap">
    <div class="register-form-wrap">
        <form>
            <div class="form-item">
                <label for="usernameField">Username</label>
            </div>
            <div class="form-item">
               <input class="form-item-input" id="usernameField" type="text" name="username" />
            </div>
            <div class="form-item">
                <label for="emailField">Email</label>
            </div>
            <div class="form-item">
               <input class="form-item-input" id="emailField" type="email" name="email" />
            </div>
            <div class="form-item">
                <label for="passwordField">Password</label>
            </div>
            <div class="form-item">
               <input class="form-item-input" id="passwordField" type="password" name="password" />
            </div>
            <div class="register-btn-wrap">
                <button class="registerBtnSend">Cancel</button>
                <button class="registerBtnSend">Send</button>
            </div>
        </form>
    </div>
</div>